@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Montserrat', sans-serif;
    background: black;
}



header {
    display:flex;
    width: 50%;
    margin:auto;
    height: 10vh;
    align-items: center;

}
nav{
    flex: 1;
    display:flex;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    color: rgb(137, 53, 194);
    font-size: 30px;
    cursor: pointer;
}
.nav-links{
    list-style: none;
}



.nav-links:hover{
color:rgb(202, 130, 243);
}

.nav-links-two{
    list-style: none;
}

.nav-links-two:hover{
    color:rgb(202, 130, 243);
    }


.about-me-button {
    border: 2px solid black;
    background: transparent;
    color: rgb(137, 53, 194);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    }

.about-me-button:hover{
    color:rgb(202, 130, 243);
    }

.resume-button {
    border: 2px solid black;
    background: transparent;
    color: rgb(137, 53, 194);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
        }
    
.resume-button:hover{
    color:rgb(202, 130, 243);
        }




.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.cover {
    flex:1;
}

.intro-text h1{
    font-size: 56px;
    font-weight: 500;
    background: linear-gradient(to right, rgb(137, 53, 194), #d2d2d6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 36px;
    color: rgb(114, 109, 109);
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select {
    border: 2px solid rgb(137, 53, 194);
    background: transparent;
    color: rgb(137, 53, 194);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}



.cta-select:hover{
    color:rgb(202, 130, 243);
    border: 2px solid rgb(202, 130, 243);
}

.cta-select1 {
    background: rgb(137, 53, 194);
    color:black;
    border: none;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 30px 0px 0px 30px;
}

.cta-select1:hover{
    color:rgb(202, 130, 243);
    border: 2px solid rgb(202, 130, 243);;
}

@media screen and (max-width: 1086px) {
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .nav-links {
        font-size: 22px;
        display: flex;
    }
    .nav-links-two{
        font-size: 22px;
        display: flex;
    }

}