@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 4%;
    padding: 0;
    background: black;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: black;
    color: rgb(202, 130, 243);
}
