@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Montserrat', sans-serif;
}

div {

    color:rgb(202, 130, 243);
}
#one {
    color:rgb(202, 130, 243);
}
#two {
    color:rgb(202, 130, 243);
}
#three {
    color:rgb(202, 130, 243);
}
#four {
    color:rgb(202, 130, 243);
}

.pdf {
flex: 1;
    }